<!-- This is a static file -->
<!-- served from your routes in server.js -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="A cool thing made with Glitch">

    <title>to.do</title>

    <link id="favicon" rel="icon" href="https://cdn.glitch.com/dd917433-004c-4870-aa64-b9b17d06579c%2Ffavicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <!-- import the webpage's client-side javascript file -->
    <script src="/index.js"></script>
  </head>
  <body>
    <header>
      <a onclick="window.open('https://interesting-broadleaf-redcurrant.glitch.me', '_parent')" class="header_url">to.do</a> 
      <div class="header_links">
        <a onclick="login()" class="header_link">LOGIN</a> 
        <a onclick="signup()" class="header_link">SIGN UP</a>
      </div>
    </header>
    <div class="main">
      <button type="button" onclick="signup()">Sign Up</button>
    </div>
    <footer>
      Created with ❤️ by Team Quartz.
    </footer> 
  </body>
</html>
